div {
    display: block; /*declarando el comportamiento*/
    width: auto;    /*declarando el ancho, en este caso se establece en auto*/
    height: 100px;
    margin: 10px;   /*modificando el margen*/
    padding: 5px;   /*modificando el padding*/
}

.gold {
    background-color: gold; /*estableciendo el color de fondo*/
}

.black {
    background-color: black; /*estableciendo el color de fondo*/
    color: white;   /*estableciendo el color del contenido*/
}