div {
    display: block;
    width: auto;
    margin: 10px;
    padding: 5px;
    
    
}

.yellow {
    background-color: gold;
    height: 100px;
}

.black {
    background-color: black;
    height: 100px;
    color: white;
}